* html .hitarea {display: inline; float: none; }
.treeview, .treeview ul { list-style: none; margin: 0; padding: 2px; }
.treeview ul { margin-top: 0; }
.treeview .hitarea { background: transparent url(treeview-modern.gif) -64px -25px no-repeat; cursor: pointer; float: left; height: 16px; margin: 0 0 0 -20px; width: 16px; }
.treeview li { background: transparent url(treeview-modern.gif) no-repeat -32px -70px; margin: 1px; padding: 0 0 0 20px; }
.treeview li.collapsable,
.treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
